.authors-block {
    margin-left: 8px;
    padding-bottom: 8px;
    font-style: italic;
    font-size: 14px;
    margin-right: 8px; }

.page-author{
    font-size: 14px;
    font-style: italic;
}

.petroglyph-item {
    display: block;
    border: solid 2px #e1e1e1;
    padding: 0 15px 15px 15px;
    margin-bottom: 25px;
    color: #000; }
.petroglyph-item:hover {
    text-decoration: none;
    border: solid 2px #7288e1; }

.poster {
    /*  margin-right: 20px; */
    margin-bottom: 15px;
    /*  max-width: 50%; */ }

a.three-d {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    /*  height: 200px; */
    color: #000;
    text-decoration: none;
    border: solid 2px #e1e1e1; }
a.three-d:hover {
    border: solid 2px #7288e1; }

.fancybox-next {
    right: -40% !important; }

.fancybox-prev {
    left: -40% !important; }

@media (max-width: 768px) {
    .poster {
        margin-right: 0;
        max-width: 100%; } }
